@font-face {
  font-family: 'Montserrat-Regular';
  src: url('assets/fonts/Montserrat-Regular/montserrat-regular-webfont.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Regular/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
} 
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('assets/fonts/Montserrat-Medium/montserrat-medium-webfont.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Medium/montserrat-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('assets/fonts/Montserrat-Bold/montserrat-bold-webfont.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Bold/montserrat-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('assets/fonts/Montserrat-Light/Montserrat-Light.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Light/Montserrat-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Calisto MT';
    src: url('assets/fonts/CalistoMT.woff2') format('woff2'),
        url('assets/fonts/CalistoMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'CalisMTBold';
  src: url('assets/fonts/CalisMTBold/CalisMTBold.woff2') format('woff2'),
    url('assets/fonts/CalisMTBold/CalisMTBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




@font-face {
  font-family: 'SupriaSans-Regular';
  src: url('assets/fonts/SupriaSans-Regular/SupriaSans-Regular.woff2') format('woff2'),
    url('assets/fonts/SupriaSans-Regular/SupriaSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SupriaSans-Bold';
  src: url('assets/fonts/SupriaSans-Bold/SupriaSans-Bold.woff2') format('woff2'),
    url('assets/fonts/SupriaSans-Bold/SupriaSans-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url(assets/fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff2) format('woff2'), 
         url(assets/fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    
}

@font-face {
    font-family: 'Merriweather-Black';
    src: url(assets/fonts/Merriweather-Black/Merriweather-Black.woff2) format('woff2'), 
         url(assets/fonts/Merriweather-Black/Merriweather-Black.woff) format('woff');
    font-weight: ;
    font-style: normal
}


@font-face {
    font-family: 'Barlow-Bold';
    src: url(assets/fonts/Barlow-Bold/barlow-bold-webfont.woff2) format('woff2'), 
         url(assets/fonts/Barlow-Bold/barlow-bold-webfont.woff) format('woff');
    font-weight:;
    font-style: normal
}
@font-face {
    font-family: 'BarlowCondensed-Regular';
    src: url(assets/fonts/BarlowCondensed-Regular/BarlowCondensed-Regular.woff2) format('woff2'), 
         url(assets/fonts/BarlowCondensed-Regular/BarlowCondensed-Regular.woff) format('woff');
    font-weight:;
    font-style: normal
}
@font-face {
    font-family: 'Barlow-Medium';
    src: url(assets/fonts/Barlow-Medium/Barlow-Medium.woff2) format('woff2'), 
         url(assets/fonts/Barlow-Medium/Barlow-Medium.woff) format('woff');
    font-weight:;
    font-style: normal
}
@font-face {
    font-family: 'Barlow-Extrabold';
    src: url(assets/fonts/Barlow-Medium/barlow-medium-webfont.woff2) format('woff2'), 
         url(assets/fonts/Barlow-Medium/barlow-medium-webfont.woff) format('woff');
    font-weight: ;
    font-style: normal
}


@font-face {
    font-family: 'BarlowCondensed-Bold';
    src: url(assets/fonts/BarlowCondensed-Bold/barlowcondensed-bold-webfont.woff2) format('woff2'), 
         url(assets/fonts/BarlowCondensed-Bold/barlowcondensed-bold-webfont.woff) format('woff');
    font-weight: ;
    font-style: normal
}

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("assets/fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"),
    url("assets/fonts/MyriadPro-Regular/MyriadPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}





*,*:focus,.btn,.btn:focus {
    outline: 0!important;
    text-decoration: none
}
a,button,input {
    outline: 0;
    border: 0;
    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}
a,a:hover,a:focus,button:hover,button:focus {
    text-decoration: none;
    outline: 0
}
body {
    background: #fff;
    color: #000;
    font-size: 24px;
    line-height: 1.3;
    font-family: 'Montserrat-Regular';
    background: url(assets/images/body-bg.jpg)
}
img {
    max-width: 100%;
    height: auto
}
.ulc {
    margin: 0;
    padding: 0;
    list-style: none;
}
.overlay-link {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10
}
.container{
    max-width: 1200px;
    width: 100%
}
.hide-md {
    display: block!important
}
.show-md {
    display: none!important
}

.hide-sm {
    display: block!important
}
.show-sm {
    display: none!important
}
.hide-xs {
    display: block!important
}
.show-xs {
    display: none!important
}
p { margin-bottom: 26px }
a { word-wrap: break-word }

.plr-30 {
    padding-left: 30px!important;
    padding-right: 30px!important
}
.plr-20 {
    padding-left: 20px!important;
    padding-right: 20px!important
}
.plr-10 {
    padding-left: 10px!important;
    padding-right: 10px!important
}
.plr-5{
    padding-left: 5px!important;
    padding-right: 5px!important
}
.ml-5{
    margin-left: -5px;
}
.ml-10{
    margin-left: -10px;
}
.fl-page-bdy-controller{
    max-width: 1170px;
    margin: 0 auto;
    background: #fff;
    -webkit-box-shadow: 0 5px 12px 0 rgba(180, 179, 179, 1);
    -moz-box-shadow: 0 5px 12px 0 rgba(180, 179, 179, 1);
    box-shadow: 0 5px 12px 0 rgba(180, 179, 179, 1)
}
h1 {
    font-size: 70px
}
h2 {
    font-size: 50px
}
h3 {
    font-size: 40px
}
h4 {
    font-size: 32px
}
h5 {
    font-size: 20px
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    line-height: 1.2;
} 

header.fl-hdr{
    background: #fff;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -ms-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    position: relative;
    z-index: 5
} 
.header-innr {
    background: #fff;
    padding: 15px 0;
    display: flex;
    align-items: center;
}
.hdr-left,
.hdr-rgt {
    width: 50%;
    float: left
}
.hdr-left {
    padding-right: 30px
}
.hdr-rgt {
    text-align: right;
    padding-left: 25px;
}
.hdr-logo{
    display: inline-block;
    vertical-align: baseline;
    max-width: 221px;
}
.secure-img{
      display: inline-block;
    vertical-align: baseline;
  max-width: 223px;
}
.header .secure-img {
    max-width: 225px
}
.fl-hdr img{
    width: 100%
}


.fl-shipping-progress-bar{
  -webkit-box-shadow: -1px 9px 6px -5px rgba(70,53,80,1);
-moz-box-shadow: -1px 9px 6px -5px rgba(70,53,80,1);
box-shadow: -1px 9px 6px -5px rgba(70,53,80,1);
  position: relative;
  z-index: 2;
  padding-top: 3px;
}
.fl-shipping {
    padding-bottom: 10px;
    background: #fff;
    box-sizing: border-box;
    position: relative
}
.fl-shipping img {
    display: inline-block;
    position: relative;
    top: 16px;
    width: 57px;
    height: 57px
}
.fl-shipping .two_sec img {
    top: 6px;
    width: 71px;
    height: 71px
}
.fl-shipping-col {
    width: 33.333%;
    float: left;
    padding-left: 7px;
    padding-right: 7px
}
.fl-shipping h4 {
    color: #000;
    font-family: 'SupriaSans-Regular';
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 28px;
    width: 100%
}
.fl-shipping .two_sec>h4 {
    font-family: 'SupriaSans-Bold';
    margin-top: 14px;
}
.fl-shipping:before{
    content: "";
    height: 15px;
    width: 100%;
    position: absolute;
    background: url(assets/images/fl-shipping-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 15px;
    left: 0;
    right: 0;
    border-radius: 50px;
    top: 38px;
}

.fl-page-bnr{
  padding: 40px 0 25px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  position: relative;
}
.fl-page-bnr:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -5px;
    -webkit-box-shadow: 2px 8px 5px 2px  rgb(180, 179, 179);
    -moz-box-shadow: 2px 8px 5px 2px  rgb(180, 179, 179);
    box-shadow: 2px 8px 5px 2px  rgb(0, 0, 0);
    z-index: 2;
}

.fl-page-bnr-cntlr h1{
    color: #008058;
    text-transform: uppercase;
}
.fl-page-bnr-cntlr{
    max-width: 572px;
    width: 100%;
    text-align: center;
}
.fl-page-bnr-cntlr h1 strong{
    color: #193e68;
    font-family: inherit;
}
.fl-page-bnr-dsc{
    text-align: center;
    color: #fff;
}
.fl-page-bnr-dsc h5{
    font-size: 18px;
    line-height: 20px;
    color: #ff0000;
    font-family: 'Montserrat-Bold';
    margin-bottom: 28px;
}
.fl-page-bnr-dsc h4{
    font-size: 20px;
    line-height: 22px;
    font-family: 'Montserrat-Medium';
    margin-bottom: 20px;
}
.fl-page-bnr-dsc h2{
   font-family: 'CalisMTBold'; 
   margin-bottom: 30px;
   text-shadow: 0px 1px #fff;
}
.fl-page-bnr-dsc span{
    font-size: 32px;
    line-height: 1.2;
    color: #fff;
    display: inline-block;
    vertical-align: baseline;
    font-family: 'Montserrat-Bold';
    background: #ff0000;
    padding: 10px 25px;
    margin-bottom: 25px;
}

.fl-content-sec-1-wrp {
    padding-top: 30px;
    padding-bottom: 15px;
}
.fl-dsc-1-img{
    padding-right: 25px;
}
.fl-dsc-sec-1 p span,
.fl-dsc-1-full p span{
    font-family: 'Montserrat-Bold';
}
.fl-txt-line-bg{
    font-family: 'Montserrat-Bold';
    display: inline-block;
    vertical-align: baseline;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background-size: 100% 100%!important;
    margin-right: -10px;
    margin-left: -10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #000;
    line-height: 1.1;
    margin-left: -8px;
}
.fl-dsc-1-img img{
    width: 100%;
}
.fl-content-sec-2-bdr{
    background: #fff;
    -webkit-box-shadow: 0 5px 14px -8px rgb(180, 179, 179);
    -moz-box-shadow: 0 5px 14px -8px rgb(180, 179, 179);
    box-shadow: 0 5px 14px -8px rgb(180, 179, 179);
    border-top: 1px solid #b0c4d5;
    border-radius: 10px 10px 0 0;
}
.fl-content-sec-2-head-btm,
.fl-content-sec-2-head-tp {
    background-repeat: no-repeat!important;
    background-position: center bottom!important;
    background-size: cover!important;
    padding: 10px 40px 10px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    color: #fff;
    font-family: 'CalisMTBold';
}
.fl-content-sec-2-head-btm{
    border-radius: 0;
    border-top: 4px solid#512351;
    margin-top: -1px;
    padding-bottom: 35px;
    padding-top: 20px;
}
.fl-content-sec-2-head-btm h2,
.fl-content-sec-2-head-tp h2{
    margin-bottom: 0;
}
.fl-dsc-sec-2-tp{
    padding-top: 20px;
}
.fl-dsc-sec-2-tp h3{
    color: #7b357b;
    text-align: center;
    font-family: 'CalisMTBold';
    font-size: 36px;
}
.fl-dsc-sec-2-tp h3 span{
    display: block;
    color: #008057;
}
.entry-text{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 488px;
    height: 60px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.fl-content-sec-2-wrp .entry-text{
    margin-top: 30px;
}
.entry-text h4{
    color: #fff;
    font-size: 30px;
    font-family: 'CalisMTBold';
    margin: 0;
}
.fl-dsc-sec-2-tp-1-img {
    padding-top: 10px;
    margin-left: -5px;
}
.fl-dsc-sec-2-tp-1-img img{
    width: 100%;
}
.fl-dsc-sec-2-btm-head h2{
    color: #7b357b;
    text-align: center;
    font-family: 'CalisMTBold';
    margin-top: 15px;
    margin-bottom: 25px;
    text-decoration: underline;
}
.fl-dsc-sec-2-rgt-img {
    margin-top: -40px;
    margin-left: -20px;
}
.fl-dsc-sec-2-rgt-img img{
    width: 100%;
}
.fl-dsc-sec-2-lft-dsc p:last-child{
    margin-bottom: 0;
}
.fl-dsc-sec-2-rgt-dsc .fl-txt-line-bg{
    padding-top: 0;
}
.fl-dsc-sec-2-rgt-dsc{
    padding-right: 15px;
}
.fl-dsc-sec-2-lft-img {
    padding-top: 20px;
    margin-left: -5px;
    margin-right: -10px;
}
.fl-dsc-sec-2-lft-img img{
    width: 100%;
}
.fl-dsc-sec-2-full{
    background: #e3f3f6;
    padding: 20px 70px 5px 15px;
    border-radius: 0 0 8px 8px;
}
.fl-content-sec-3-wrp{
    padding-top: 35px;
    padding-bottom: 20px;
}
.fl-content-sec-3-head{
    text-align: center;
    color: #7b357b;
    font-family: 'CalisMTBold';
    padding-bottom: 50px;
    position: relative;
}
.fl-content-sec-3-head img{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.fl-content-sec-3-rgt-img{
    margin-left: -10px;
}
.fl-content-sec-3-rgt-img img{
    width: 100%;
}
.health-risks-wrp{
    flex-wrap: wrap;
    padding:15px 0;
}
.health-risks-wrp ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.health-risks-wrp ul li{
    width: 33.3333%;
    padding: 0 30px;
    float: left;

}
.fl-health-risks-tp-wrp ul li:nth-child(2) .health-risks-box{
    margin-top: -25px;
}
.fl-health-risks-tp-wrp ul li:nth-child(4) .health-risks-box{
    margin-top: 25px;
}
.health-risks-box{
    text-align: center;
}
.health-risks-box h6{
    font-size: 24px;
    line-height: 26px;
    font-family: 'Montserrat-Medium';
    margin-top: 28px;
    margin-bottom: 35px;
}

.fl-content-sec-4-wrp{
    padding: 0 5px;
}
.fl-content-sec-4-bg-cntlr{
    position: relative;
}
.fl-content-sec-4-angle-btm,
.fl-content-sec-4-angle-tp{
    position: absolute;
    left: 0;
    top: 0;
    width: 96px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.fl-content-sec-4-angle-btm{
    right: 0;
    left: auto;
    bottom: 0;
    top: auto;
}
.fl-content-sec-4-head {
    padding: 50px 35px 60px 35px;
    position: relative;
}
.fl-content-sec-4-head h2{
    color: #7b357b;
    font-family: 'CalisMTBold';
    text-align: center;
    margin-bottom: 0;
}
.fl-content-sec-4-head h2 span{
    color: #008057;
}
.fl-content-sec-4-head img{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.fl-content-sec-4-rgt-img{
    padding-top: 30px;
    margin-left: -20px;
}
.fl-content-sec-4-rgt-img img{
    width: 100%;
}

.fl-content-sec-4-head-btm-inr{
    display: inline-block;
    max-width: 879px;
    width: 100%;
    padding: 20px 40px 15px 40px;
    margin-bottom: 35px;
    background-repeat: no-repeat!important;
    background-size: 100% 100%!important;
    background-position: center bottom!important;
}
.fl-content-sec-4-head-btm-inr h2{
    color: #fff;
    font-family: 'CalisMTBold';
    margin: 0;
}
.fl-content-sec-4-rgt-img-1{
    margin-right: -20px;
}
.fl-content-sec-4-rgt-img-1 img{
    width: 100%;
}
.fl-health-risks-tp-wrp ul li,
.fl-health-risks-btm-wrp ul li{
    width: 25%;
    padding: 0 15px;
}
.fl-content-sec-4-btm-1-full p strong{
    text-decoration: underline;
}
.fl-content-sec-3-ful{
    padding-top: 10px;
}
.fl-content-sec-5-wrp{
    padding-top: 50px;
    padding-bottom: 45px;
}
.fl-content-sec-5-head{
    padding-bottom: 50px;
    position: relative;
}
.fl-content-sec-5-head h2 {
    font-family: 'CalisMTBold';
    color: #008057;
    text-align: center;
}
.fl-content-sec-5-head h2 span{
    color: #7b357b;
}
.fl-content-sec-10-wrp .fl-content-sec-5-head h2 span{
    color: #008057;
}
.fl-content-sec-5-head img{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.ln-sec-three-grid > ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px!important;
    justify-content: center;
}
.fl-content-sec-5-wrp .ln-sec-three-grid > ul{
    padding-bottom: 10px;
}
.ln-sec-three-grid > ul > li {
    width: 33.33%;
    padding: 0 10px;
    margin-bottom: 20px;
}
.ln-sec-three-grid-item {
    border-radius: 10px;
    border: 2px solid #fff;
    background: #fbf4d2;
    box-shadow: 0 1px 10px 0 #ece8e8;
    position: relative;
    min-height: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.ln-sec-three-grid-item > i {
    position: absolute;
    left: 20px;
    top: 18px;
}
.ln-sec-three-grid > ul > li:nth-child(5) .ln-sec-three-grid-item > i,
.ln-sec-three-grid > ul > li:nth-child(9) .ln-sec-three-grid-item > i,
.ln-sec-three-grid > ul > li:nth-child(8) .ln-sec-three-grid-item > i{
    top: 28px;
}
.fl-content-sec-10-wrp .ln-sec-three-grid > ul > li:nth-child(5) .ln-sec-three-grid-item > i,
.fl-content-sec-10-wrp .ln-sec-three-grid > ul > li:nth-child(1) .ln-sec-three-grid-item > i{
    top: 20px;
} 
.fl-content-sec-10-wrp .ln-sec-three-sub-sec ul{
    padding-top: 13px;
    padding-bottom: 13px;
}
.ln-sec-three-grid-item > p {
    padding: 22px 12px 25px 55px;
    position: relative;
    line-height: 28px;
    margin-bottom: 0;
    font-family: "MyriadPro-Regular";
}
.fl-content-sec-5-justine{
    border-radius: 10px;
    border: 2px solid #fff;
    background: #fbf4d2;
    box-shadow: 0 1px 10px 0 #ece8e8;
    position: relative;
    min-height: 131px;
    padding: 15px 45px 15px 15px;
    margin-top: -10px;
}
.fl-content-sec-5-justine p{
    margin: 0;
}


.fl-content-sec-6-bdr{
    background: #fff;
    -webkit-box-shadow: 0 5px 14px -8px rgb(180, 179, 179);
    -moz-box-shadow: 0 5px 14px -8px rgb(180, 179, 179);
    box-shadow: 0 5px 14px -8px rgb(180, 179, 179);
    border-top: 1px solid #b0c4d5;
    border-radius: 10px 10px 10px 10px;
}

.fl-content-sec-6-head {
    background-repeat: no-repeat!important;
    background-position: center bottom 1px!important;
    background-size: cover!important;
    padding: 10px 10px 40px;
    border-radius: 8px 8px 0 0;
    text-align: center;
    color: #fff;
    margin-bottom: 25px;
    font-family: 'CalisMTBold';
}
.fl-content-sec-6-lft-img {
    margin-left: -15px;
    margin-right: -34px;
}
.fl-content-sec-6-lft-img img,
.fl-content-sec-6-rgt-img img{
    width: 100%;
}
.fl-content-sec-6-lft-img img{
    border-radius: 0 0 0 10px;
}
.fl-content-sec-6-lft{
    margin-right: -23px;
}
.fl-content-sec-6-lft p span.fl-txt-line-bg{
    font-family: 'Montserrat-Regular';
}
.fl-content-sec-6-rgt-img{
    padding-left: 10px;
}

.f1-content-sec-7-wrap {
    padding-top: 40px;
    padding-bottom: 20px;
}
.f1-content-sec-7-wrap .fl-content-sec-5-head {
    padding-bottom: 40px;
    position: relative;
}
.f1-content-sec-7-lft-img{
    padding-top: 30px;
    text-align: center;
}
.f1-content-sec-7-lft p:last-of-type{
    margin-bottom: 0;
}
.f1-content-sec-7-rgt-img{
    padding-top: 5px;
}
.f1-content-sec-7-btm-lft{
    padding-top: 5px;
}
.fl-content-sec-8-wrp .fl-content-sec-4-bg-cntlr{
    padding-bottom: 8px;
}
.f1-content-sec-7-fullwidth{
    margin-top: -10px;
}
.fl-content-sec-8-wrp .fl-content-sec-4-head {
    padding: 50px 35px 45px 35px;
    margin-bottom: 20px;
}
.fl-content-sec-8-wrp{
    padding: 0 4px;
}
.fl-content-sec-6-head h1,
.fl-content-sec-6-head h3{
   font-family: 'CalisMTBold';
   margin-bottom: 0; 
}
.fl-content-sec-9-wrap .fl-content-sec-6-head {
    border-radius: 0;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 0;
}

.fl-content-sec-9-wrap{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: bottom center !important;
    -webkit-box-shadow: 0 5px 5px 0px rgb(180, 179, 179);
    -moz-box-shadow: 0 5px 5px 0px rgb(180, 179, 179);
    box-shadow: 0 5px 5px 0px rgb(180, 179, 179);
    margin-left: 10px;
    margin-right: 10px;
}
.fl-content-sec-9-full-img{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
.fl-content-sec-10-gmo-wrp ul{
    padding-top: 45px;
}
.fl-content-sec-10-gmo-wrp ul li{
    padding-bottom: 70px;
}
.fl-content-sec-10-gmo-inr{
    background:#fbf4d2;
    height: 160px;
    position: relative;
    padding: 20px 50px 20px 285px;
    border-radius: 10px;
}
.fl-content-sec-10-gmo-wrp ul li:nth-child(2n+2) .fl-content-sec-10-gmo-inr{
    padding-right: 285px;
    padding-left: 20px;
} 
.fl-content-sec-10-gmo-img {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.fl-content-sec-10-gmo-wrp ul li:nth-child(2n+2) .fl-content-sec-10-gmo-img{
    left: auto;
    right: 5px;
}
.fl-content-sec-10-gmo-txt p{
    margin-bottom: 0;
}

.fl-content-sec-10-wrp .fl-content-sec-4-head-btm-inr{
    max-width: 934px;
    margin-top: 15px;
}
.fl-content-sec-10-wrp{
    padding-top: 20px;
}
.fl-content-sec-10-wrp .fl-content-sec-5-head h2 {
    color: #7b357b;
}
.fl-content-sec-10-wrp .fl-content-sec-5-head h2 u{
    font-family: 'CalistoMT';
}

.fl-advanced-two-grid-wrp ul {
    list-style: none;
    margin: 0 -10px;
    padding: 0;
    text-align: center;
}
.fl-advanced-two-grid-wrp ul li{
    max-width: 566px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 0 10px 20px;
}
.fl-advanced-two-grid-inr {
    -webkit-box-shadow: 0 0 7px 1px rgba(207,205,205,1);
    -moz-box-shadow: 0 0 7px 1px rgba(207,205,205,1);
    box-shadow: 0 0 7px 1px rgba(207,205,205,1);
    text-align: left;
    padding: 8px 8px 8px 8px;
}
.fl-adv-two-grid-img {
    width: 100%;
    height: 425px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.fl-advanced-two-grid-wrp ul li:nth-child(2) .fl-adv-two-grid-img{
    height: 220px;
}
.fl-advanced-two-grid-wrp ul li:nth-child(3) .fl-adv-two-grid-img{
    height: 345px;
}
.fl-advanced-two-grid-wrp ul li:nth-child(4) .fl-adv-two-grid-img{
    height: 320px;
}
.fl-advanced-two-grid-dsc {
    background: #fbf4d2;
    padding: 22px 30px 16px 15px;
}
.fl-advanced-two-grid-dsc p{
    margin-bottom: 0;
}
.fl-advanced-two-grid-wrp ul li:nth-child(1) .fl-advanced-two-grid-dsc{
    padding-top: 28px;
    padding-bottom: 22px;
}
.fl-advanced-two-grid-wrp ul li:nth-child(3) .fl-advanced-two-grid-dsc{
    padding-bottom: 22px;
}
.profile-show-wrp{
    max-width: 1010px;
    width: 100%;
    margin: 0 auto;
}
.profile-show-inr{
    padding-left: 185px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 15px;
    position: relative;
    border-bottom: 3px solid#ffe3ff;
}
.profile-show-img {
    position: absolute;
    left: 0;
    top: 50px;
}
.profile-show-dsc h6{
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 7px;
    font-family: 'Montserrat-Bold';
}
.profile-show-dsc span{
    display: inline-block;
    vertical-align: baseline;
}

.profile-show-dsc p{
    margin-bottom: 0;
    margin-top: 20px;
}
.profile-show-wrp h4{
    font-family: 'CalisMTBold';
    color: #7b357b;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 40px;
}
.fl-dsc-sec-11-full{
    padding-top: 25px;
}
.fl-dsc-sec-11-rgt{
    padding-right: 10px;
}
.fl-dsc-sec-11-lft-img{
   text-align: center; 
}
.fl-content-sec-11-wrp {
    margin-bottom: -295px;
    position: relative;
    z-index: 2;
}
.fl-content-sec-11-wrp .fl-content-sec-2-bdr{
    position: relative;
    overflow: hidden;
}
.fl-content-sec-11-angle {
    position: absolute;
    width: 259px;
    height: 259px;
    bottom: -130px;
    right: -130px;
}

.fl-pkg-section-2{
    position: relative;
    z-index: 2;
    padding-top: 30px;
}
.fl-pkg-section-2:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background:#fbf4d2;
    bottom: 52%;
    z-index: -1;
}
.fl-pkg-section-1 {
    padding-top: 360px;
    position: relative;
    z-index: 1;
}
.fl-pkg-section-1:before {
    content: "";
    position: absolute;
    background: #fbf4d2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 29%;
    z-index: -1;
}
.fl-pkg-section-1 .fl-content-sec-4-head-btm-inr{
    margin-bottom: 78px !important;
}
.fl-pkg-section-1 .pkg-area-con-bg{
    padding-top: 0;
}
.fl-pkg-sec-ftr-des{
    padding-top: 65px;
    text-align: left;
    padding-bottom: 24px;
}
.pkg-area-con-bg{
    padding: 45px 0 40px;
    background-size: cover!important;
    background-position: center center;
}
.fl-pkg-sec-hdr{
    text-align: center;
    color: #fff;
}
.fl-pkg-sec-hdr h2{
    font-family: 'Merriweather-Black';
    margin-bottom: 80px;
    margin-top: 0;
    color: #000;
}
.fl-pkg-sec-bg-hdr{
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center bottom!important;
    border-radius: 8px 8px 0 0;
    margin-bottom: 85px;
    padding: 20px 20px 25px;
}
.fl-pkg-sec-bg-hdr h2{
    font-family: 'Merriweather-Black';
    margin-top: 0;
    color: #000;
    text-align: center;   
    margin-bottom: 0;
}


.fl-pkg-grd-controller > ul > li{
    float: left;
    width: 33.333%;
    padding: 0 10px;
}

.fl-pkg-grd-col-btm-bdr{
    background: #096f94;
    border-radius: 8px;
    padding-bottom: 4px;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
    -moz-box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
    box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
}
.fl-pkg-grd-col-bdr-solid{
    position: relative;
}
.fl-pkg-grd-col-bdr-solid:before,
.fl-pkg-grd-col-bdr-solid:after{
    content: "";
    background: #bdd4dc;
    position: absolute;
    top: 4px;
    bottom: 2px;
    width: 1px;
    z-index: 1;
}
.order1 .fl-pkg-grd-col-bdr-solid:before,
.order1 .fl-pkg-grd-col-bdr-solid:after{
    background: #ded4d4;
}
.order2 .fl-pkg-grd-col-bdr-solid:before,
.order2 .fl-pkg-grd-col-bdr-solid:after{
    background: #c6dbd7;
    top: 10px;
}
.fl-pkg-grd-col-bdr-solid:before{
    left: -1px;
}
.fl-pkg-grd-col-bdr-solid:after{
    right: 0;
}

.fl-pkg-grd-col{
    position: relative;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-btm-bdr{
    margin-top: -45px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-btm-bdr{
    background: #d50001;
}
.fl-pkg-grd-controller > ul > li:nth-child(3) .fl-pkg-grd-col-btm-bdr{
    background: #0f84b3;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col{
    padding-bottom: 10px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-price {
    margin-bottom: 6px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-fea-img {
    padding-bottom: 33px;
    padding-top: 45px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-ftr{
    padding-top: 15px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-price strong{
    font-size: 95px;
    line-height: 78px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-price:after{
    width: 9px;
    height: 9px;
    top: 37%;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-price sup {
    font-size: 55px;
    right: 0px;
    top: -10px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-price sub{
    bottom: 17px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-save-price strong{
    padding-top: 9px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-creditcards {
    padding-top: 14px;
}
.fl-pkg-grd-controller > ul > li:nth-child(3) .fl-add-to-cart-btn-img {
    margin-bottom: 16px;
}
.fl-pkg-grd-col-hdr{
    border-radius: 5px 5px 0 0;
}
.fl-pkg-grd-col-hdr span,.fl-pkg-grd-col-hdr strong{
    display: block;
}
.fl-pkg-grd-col-hdr{
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-repeat: repeat-x!important;
    background-size: cover!important;
}
.fl-pkg-grd-col-hdr span{
    font-size: 32px;
    line-height: 36px;
    font-family: 'BarlowCondensed-Bold';
    padding: 15px 0 15px;
    background-repeat: repeat-x!important;
    border-radius: 5px 5px 0 0;
    text-shadow: 0px 2px #019bd4;
}
.order1 .fl-pkg-grd-col-hdr span{
    text-shadow: 0px 2px #b82121;
    padding-top: 18px;
    padding-bottom: 17px;
}
.order2 .fl-pkg-grd-col-hdr span b,
.order1 .fl-pkg-grd-col-hdr span b{
    font-size: 25px;
}
.order2 .fl-pkg-grd-col-hdr strong,
.order1 .fl-pkg-grd-col-hdr strong{
    padding-top: 6px;
}
.order3 .fl-pkg-grd-col-hdr span{
    padding-bottom: 20px;
}
.fl-pkg-grd-col-hdr strong{
    padding: 0 0 4px 0;
    font-size: 40px;
    line-height: 45px;
    font-family: 'BarlowCondensed-Bold';
    text-shadow: 0px 2px #595653;
}
.order3 .fl-pkg-grd-col-hdr span{
    color: #010101;
    text-shadow: none;
}
.fl-pkg-grd-col-fea-img{
    margin: 0 auto;
    position: relative;
    display: table;
    padding: 28px 15px 30px;
}
.order3 .fl-pkg-grd-col-fea-img{
    padding-bottom: 40px;
}
.fl-pkg-grd-col-fea-img div{
    display: inline-block;
    vertical-align: baseline;
}
.fl-pkg-grd-col-fea-img span{
    position: absolute;
    right: 15px;
    top: 33px;
}
.order3 .fl-pkg-grd-col-fea-img span{
    right: -37px;
}
.order1 .fl-pkg-grd-col-fea-img span {
    top: 70px;
    right: 32px;
}
.fl-pkg-grd-col{
    background: #f7f7f7;
    border: 3px solid #fff;
    border-radius: 8px;
}
.fl-pkg-price{
    position: relative;
    text-align: center;
    display: inline-block;
    vertical-align: baseline;
    padding: 0 76px 0 28px;
    margin-bottom: 10px;
}
.fl-pkg-price:before {
    content: "$";
    position: absolute;
    left: 3px;
    top: -7px;
    font-size: 42px;
    line-height: 100%;
    font-family: 'Barlow-Bold';
    margin-right: 2px;
}
.fl-pkg-price:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: #000;
    border-radius: 100%;
    font-family: 'Barlow-Bold';
    margin-right: 2px;
    right: 65px;
    top: 38%;
    transform: translateY(-38%);
    -ms-transform: translateY(-38%);
    -webkit-transform: translateY(-38%);
}
.fl-pkg-price strong {
    font-size: 68px;
    line-height: 58px;
    font-weight: normal;
    font-family: 'Barlow-Bold';
    display: inline-block;
}
.fl-pkg-price sup {
    position: absolute;
    right: 20px;
    font-size: 40px;
    font-family: 'Barlow-Bold';
    top: -6px;
    line-height: 100%;
}
.fl-pkg-price sub {
    position: absolute;
    right: -5px;
    font-size: 38px;
    bottom: 12px;
    font-family: 'BarlowCondensed-Regular';
}
.fl-creditcards{
    padding-left: 8px;
    padding-top: 5px;
}
.fl-ftr-nav ul li a:hover,.fl-ftr-top-sec ul li a:hover{
    opacity: .7;
}
.fl-pkg-grd-ftr{
    padding-left: 10px;
    padding-right: 10px;
    display: table;
    margin: 0 auto;
    padding-top: 10px;
}
.fl-add-to-cart-btn-img{
    margin-bottom: 20px;
}

.fl-add-to-cart-btn-img a{
    display: inline-block;
    vertical-align: baseline;
}
.fl-pkg-grd-ftr ul li{
    position: relative;
    padding: 3px 0 15px 40px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: 'Barlow-Medium';
}
.fl-pkg-grd-ftr ul li em{
    position: absolute;
    left: 0;
    top: 0;
}

.fl-pkg-save-price strong{
    font-family: 'SourceSansPro-Bold';
    display: block;
    font-weight: normal;
    font-size: 25px;
    color: #fe0000;
    padding-top: 5px;
}
.fl-content-sec-12-wrap .fl-content-sec-5-head{
    margin-bottom: 10px;
}
.fl-content-sec-12-wrap .fl-content-sec-5-head h2 {
    color: #7b357b;
}
.fl-content-sec-12-rgt-img {
    text-align: center;
    padding-top: 40px;
}
.underline-text{
    text-decoration: underline;
}
.fl-content-sec-12-lft-img{
    padding-top: 22px;
    margin-right: -10px;
}
.fl-content-sec-12-lft-img img{
    width: 100%;
}
.fl-pkg-section-2 .pkg-area-con-bg {
    padding-top: 5px;
    padding-bottom: 0;
}
.fl-pkg-section-2 .fl-pkg-section-dsc{
    margin-bottom: 66px;
}

.fl-pkg-section-2 .fl-pkg-section-dsc-btm{
    padding-top: 33px;
}
.thank-you-line strong{
    display: block;
    text-decoration: underline;
    color: #124ce0;
    font-family: 'Montserrat-Regular';
    padding-bottom: 50px;
    padding-top: 20px;
    font-size: 24px;
    line-height: 26px;
    font-weight: normal;
}

.fl-ftr-top-block{
   -webkit-box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
    -moz-box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
    box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
    position: relative;
    z-index: 1;
}
.ftr-top-links ul {
    padding-left: 15px;
}
.ftr-top-links ul li {
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 20px;
    position: relative;
}
.ftr-top-links ul li a {
    color: #0925d1 !important;
   font-family: 'Montserrat-Regular';
   text-decoration: underline;
   display: flex;
   justify-content: left;
}
.ftr-top-links ul li a u {
    padding-right: 38px;
}
.fl-ftr-top-head{
    background:#008057;
    padding: 5px 20px 14px 35px;
}
.fl-ftr-top-head h3 {
    font-size: 44px;
    line-height: 1.2;
    color: #fff;
    float: left;
    margin: 0;
    padding-top: 10px;
}
.fl-ftr-top-head span{
    display: inline-block;
    vertical-align: baseline;
    float: right;
}
.ftr-top-links{
    padding-top: 30px;
    padding-bottom: 25px;
}

.fl-footer-wrap{
    background-color: #1c011c;
    color: #fff;
    text-align: center;
    padding: 55px 0 30px;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    z-index: 2;
}
.fl-ftr-nav ul {
    padding-bottom: 25px;
}
.fl-ftr-nav ul li {
    padding: 0 9px;
    position: relative;
    font-size: 20px;
    line-height: 22px;
}
.fl-ftr-nav ul li:first-child {
    padding-left: 0;
}
.fl-ftr-nav ul li,
.fl-ftr-nav ul li a {
    display: inline-block;
    vertical-align: baseline;
    font-family: 'Montserrat-Medium';
}
.fl-ftr-nav ul li:not(:last-child):after {
    content: "";
    width: 1px;
    height: 18px;
    position: absolute;
    left: 100%;
    margin-left: 2px;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.fl-ftr-nav ul li a {
    color: #dcdcdc;
}
.fl-copyright{
    padding-top: 10px;
    font-size: 14px;
    line-height: 16px;
    color: #c2adc2;
}
.fl-copyright p{
    margin: 0;
}
.fl-ftr-des p{
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    font-family: 'Montserrat-Light';
    color: #c2adc2;
}
.fl-ftr-des {
    padding-right: 65px;
    padding-left: 10px;
}


@media(max-width: 1199px){
    h1 {
        font-size: 38px
    }
    h2 {
        font-size: 34px
    }
    h3 {
        font-size: 30px
    }
    h4 {
        font-size: 26px
    }
    h5 {
        font-size: 22px
    }
    .fl-ftr-top-head h3 {
        font-size: 42px;
    }
    .hide-md{
        display: none!important;
    }
    .show-md{
        display: block!important;
    }
    .fl-page-bnr-dsc h2 br,
    .fl-page-bnr-dsc h4 br{
        display: none;
    }
    .fl-page-bnr-dsc span {
        font-size: 30px;
        padding: 10px 15px;
    }
    .ln-sec-three-grid-item {
        display: block;
    }
    .ln-sec-three-grid-item > p{
        padding: 16px 7px 13px 52px;
    }
    .ln-sec-three-grid-item > i {
        left: 17px;
        top: 10px;
    }
    .ln-sec-three-grid > ul > li:nth-child(9) .ln-sec-three-grid-item > i,
    .ln-sec-three-grid > ul > li:nth-child(8) .ln-sec-three-grid-item > i {
        top: 10px;
    }
    .fl-content-sec-10-gmo-inr {
        height: 185px;
    }
    .fl-content-sec-10-wrp .fl-content-sec-4-head-btm-inr {
        max-width: 680px;
        margin-top: 15px;
        padding: 20px 30px 20px 30px;
    }
    .fl-content-sec-10-btm-lft p br{
        display: none;
    }
    .fl-advanced-two-grid-wrp ul li {
        max-width: 100%;
        width: 100%;
    }
    .fl-advanced-two-grid-wrp ul {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }

    .order2 .fl-pkg-grd-col-fea-img {
        padding-bottom: 25px;
    }
    .order1 .fl-pkg-price strong {
        font-size: 85px;
        line-height: 72px;
    }
    .order1 .fl-pkg-price sup {
        right: -5px;
        font-size: 60px;
    }
    .order1 .fl-creditcards {
        padding-top: 10px;
    }
    .order1 .fl-pkg-save-price strong {
        font-size: 25px;
    }
    .fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-fea-img {
        padding-bottom: 20px;
        padding-top: 40px;
    }
    .order2 .fl-pkg-grd-col-fea-img {
        padding-bottom: 15px;
        padding-top: 20px;
    }
    .order2 .fl-pkg-grd-ftr ul li {
        padding: 3px 0 14px 40px;
    }
    .order2 .fl-add-to-cart-btn-img {
        margin-bottom: 10px;
    }
    .order2 .fl-pkg-grd-ftr{
        padding-top: 4px;
    }
    
    .fl-pkg-grd-col-hdr span {
        font-size: 28px;
        line-height: 32px;
    }
    .order3 .fl-pkg-grd-col-fea-img {
        padding-bottom: 20px;
    }
    .order2 .fl-pkg-grd-col-fea-img {
        padding-bottom: 20px;
        padding-top: 25px;
    }
    .order2 .fl-pkg-grd-ftr {
        padding-top: 10px;
    }
    .fl-pkg-grd-col-fea-img {
        padding: 28px 10px 30px;
    }
    .fl-pkg-grd-controller > ul > li:nth-child(3) .fl-add-to-cart-btn-img {
        margin-bottom: 20px;
    }
    .fl-pkg-section-1 .fl-content-sec-4-head-btm-inr {
        margin-bottom: 80px !important;
        max-width: 580px;
        width: 100%;
    }
    .pkg-area-con-bg {
        padding: 30px 0 30px;
    }
    .fl-ftr-des {
        padding-right: 30px;
    }
    .profile-show-wrp h4 br,
    .fl-dsc-sec-2-btm-head h2 br,
    .fl-content-sec-5-head h2 br{
        display: none;
    }
    .fl-content-sec-5-head h2 span {
        display: block;
    }
    .fl-ftr-top-head {
        padding: 10px 20px 14px 35px;
    }
    .fl-content-sec-3-head h2 br{
        display: none;
    }
    .fl-dsc-sec-2-full {
        padding: 20px 40px 5px 15px;
    }
    .fl-dsc-sec-2-tp h3 span br,
    .fl-dsc-sec-2-tp h3 br{
        display: none;
    }
    .fl-dsc-sec-2-tp h3 {
        font-size: 34px;
    }
    .fl-content-sec-4-head h2 br{
        display: none;
    }
    .fl-content-sec-6-head {
        padding: 10px 10px 20px;
    }
    .fl-content-sec-10-wrp .ln-sec-three-grid > ul > li:nth-child(5) .ln-sec-three-grid-item > i,
    .fl-content-sec-10-wrp .ln-sec-three-grid > ul > li:nth-child(1) .ln-sec-three-grid-item > i {
        top: 10px;
    }

    
    

} 

@media(max-width: 1023px){

}

@media(max-width: 991px){
    h1 {
        font-size: 36px
    }
    h2 {
        font-size: 32px
    }
    h3 {
        font-size: 28px
    }
    h4 {
        font-size: 24px
    }
    h5 {
        font-size: 20px
    }
    .fl-ftr-top-head h3 {
        font-size: 40px;
    }
    .entry-text h4 {
        font-size: 28px;
    }
    .fl-page-bnr-dsc span {
        font-size: 28px;
    }
    .container {
        max-width: 750px;
        width: 100%;
    }
    .hide-sm{
        display: none!important;
    }
    .show-sm{
        display: block!important;
    }
    p br{
        display: none;
    }
    .pull-right {
        float: none !important;
    }
    .fl-page-bnr {
        padding: 30px 0 10px;
    }
    .fl-dsc-1-img {
        padding-right: 0;
        text-align: center;
        padding-bottom: 15px;
    }
    .fl-dsc-1-img img {
        width: auto;
        padding-right: 0;
    }
    .fl-content-sec-1-wrp {
        padding-bottom: 15px;
    }
    .fl-dsc-sec-2-tp-1{
        padding-top: 20px;
    }
    .fl-dsc-sec-2-tp-1-img {
        margin-right: 0;
        padding-top: 0;
        margin-left: 0;
        text-align: center;
    }
    .fl-content-sec-12-lft-img img,
    .fl-content-sec-6-rgt-img img,
    .fl-content-sec-6-lft-img img,
    .fl-content-sec-4-rgt-img-1 img,
    .fl-content-sec-4-rgt-img img,
    .fl-content-sec-3-rgt-img img,
    .fl-dsc-sec-2-lft-img img,
    .fl-dsc-sec-2-rgt-img img,
    .fl-dsc-sec-2-tp-1-img img{
        width: auto;
    }
    .fl-dsc-sec-2-rgt-img {
        margin-top: 0;
        margin-left: 0;
        text-align: center;
        padding-bottom: 20px;
    }
    .fl-dsc-sec-2-lft-img {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }
    .fl-dsc-sec-2-rgt-dsc {
        padding-right: 0;
    }
    .fl-content-sec-3-rgt-img {
        margin-left: 0;
        text-align: center;
        padding-bottom: 20px;
    }
    .health-risks-wrp ul li {
        padding: 0 20px;
        width: 33.3333%;
    }
    .fl-content-sec-4-rgt-img {
        padding-top: 10px;
        margin-left: 0;
        padding-bottom: 20px;
        text-align: center;
    }
    .fl-content-sec-4-rgt-img-1 {
        margin-right: 0;
        text-align: center;
        padding-bottom: 10px;
    }
    .health-risks-box h6 {
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 25px;
    }
    .ln-sec-three-grid > ul > li{
        width: 50%;
    }
    .fl-content-sec-5-justine {
        padding: 15px 15px 15px 15px;
    }
    .fl-content-sec-6-lft-img {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        padding-bottom: 30px;
    }
    .fl-content-sec-6-lft {
        margin-right: 0;
    }
    .fl-content-sec-6-rgt-img {
        padding-left: 0;
        text-align: center;
    }
    .fl-content-sec-6-full{
        margin-bottom: -30px;
    }
    .f1-content-sec-7-rgt-img {
        padding-top: 10px;
        text-align: center;
        padding-bottom: 20px;
    }
    .f1-content-sec-7-lft-img {
        padding-top: 20px;
        text-align: center;
        padding-bottom: 20px;
    }
    .ln-sec-three-grid-item {
        min-height: 115px;
        display: block;
    }
    .fl-content-sec-8-rgt-img{
        text-align: center;
        padding-bottom: 20px;
    }
    .fl-content-sec-8-wrp .fl-content-sec-4-head {
        padding: 50px 20px 45px 20px;
        margin-bottom: 0px;
    }
    .fl-content-sec-10-gmo-inr {
        height: auto;
    }
    .fl-content-sec-10-gmo-inr {
        padding: 20px 20px 20px 20px;
    }
    .fl-content-sec-10-gmo-img {
        position: static;
        transform: none;
        text-align: center;
        padding-bottom: 10px;
    }
    .fl-content-sec-10-gmo-wrp ul li:nth-child(2n+2) .fl-content-sec-10-gmo-inr {
        padding-right: 20px;
        padding-left: 20px;
    }
    .fl-content-sec-10-wrp .ln-sec-three-grid > ul > li:nth-child(5) .ln-sec-three-grid-item > i,
    .fl-content-sec-10-wrp .ln-sec-three-grid > ul > li:nth-child(1) .ln-sec-three-grid-item > i {
        top: 10px;
    }
    .ln-sec-three-grid > ul > li:nth-child(5) .ln-sec-three-grid-item > i, .ln-sec-three-grid > ul > li:nth-child(9) .ln-sec-three-grid-item > i, .ln-sec-three-grid > ul > li:nth-child(8) .ln-sec-three-grid-item > i {
        top: 12px;
    }
    .fl-content-sec-10-gmo-wrp ul li {
        padding-bottom: 50px;
    }
    .fl-content-sec-10-gmo-wrp ul {
        padding-top: 20px;
    }
    .fl-content-sec-10-btm-rgt-img{
        text-align: center;
        padding-bottom: 20px;
    }
    .profile-show-img {
        position: static;
        padding-bottom: 20px;
    }
    .profile-show-inr {
        padding: 30px 15px;
        text-align: center;
    }
    .fl-content-sec-4-head-btm-inr h2 br,
    .fl-content-sec-2-head-btm h2 br{
        display: none;
    }

    .fl-pkg-grd-controller > ul > li {
        width: 100%;
        margin-bottom: 20px;
    }
    .fl-pkg-grd-col-btm-bdr {
        max-width: 370px;
        margin: 0 auto;
    }
    .fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-btm-bdr {
        margin-top: 0;
    }
    .fl-pkg-sec-hdr h2{
        margin-bottom: 35px;
    }
    .out-stock-sec-grd-img-1,
    .out-stock-sec-grd-img-2{
        padding-bottom: 25px;
    }
    .fl-pkg-sec-bg-hdr{
        margin-bottom: 45px;
    }
    .pkg-area-con-bg-2{
        padding-bottom: 25px;
    }
    .fl-content-sec-12-rgt-img {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .fl-content-sec-12-lft-img {
        padding-top: 10px;
        margin-right: 0;
        padding-bottom: 20px;
        text-align: center;
    }
    .fl-pkg-section-2 .fl-pkg-section-dsc {
        margin-bottom: 40px;
    }
    .fl-pkg-section-2 .fl-pkg-section-dsc-btm {
        padding-top: 20px;
    }
    .thank-you-line strong a br{
        display: none;
    }
    .thank-you-line strong {
        padding-bottom: 35px;
        padding-top: 10px;
    }
    .ftr-top-links {
        padding-right: 10px;
    }
    .fl-ftr-des {
        padding-right: 0;
    }
    .fl-dsc-sec-11-lft-img {
        text-align: center;
        padding-bottom: 20px;
    }
    .fl-dsc-sec-2-full {
        padding: 20px 30px 5px 15px;
    }
    .fl-dsc-sec-2-tp h3 {
        font-size: 32px;
    }
    .fl-advanced-two-grid-dsc {
        padding: 22px 10px 16px 15px;
    }
    .fl-content-sec-5-head {
        padding-bottom: 35px;
    }
    .fl-content-sec-2-head-btm,
    .fl-content-sec-2-head-tp {
        padding: 10px 30px 20px;
    }
    .fl-content-sec-3-head {
        padding-bottom: 40px;
    }
    .fl-pkg-section-1 .fl-content-sec-4-head-btm-inr {
        margin-bottom: 40px !important;
    }


    
}

@media (max-width:830px){
    .fl-shipping h4 {
        font-size: 16px
    }
}

@media(max-width: 767px){
    body {
        font-size: 18px;
        line-height: 1.3;
    }
    p{
       margin-bottom: 20px;
    }
    h1 {
        font-size: 30px
    }
    h2 {
        font-size: 28px
    }
    h3 {
        font-size: 24px
    }
    h4 {
        font-size: 20px
    }
    h5 {
        font-size: 18px
    } 
    .fl-ftr-top-head h3 {
        font-size: 38px;
    }
    .thank-you-line strong {
        font-size: 22px;
        line-height: 24px;
    }
    .fl-page-bnr-dsc h4 {
        font-size: 17px;
        line-height: 19px;
    }
    .fl-page-bnr-dsc span {
        font-size: 26px;
    }
    .hide-xs{
        display: none!important;
    }
    .show-xs{
        display: block!important;
    }
    .health-risks-wrp ul li {
        width: 50%;
    }
    .health-risks-box h6 {
        font-size: 20px;
        line-height: 22px;
    }
    .health-risks-wrp {
        padding: 10px 0;
    }
    .ln-sec-three-grid-item > i {
        left: 17px;
        top: 12px;
    }
    .ln-sec-three-grid-item > p {
        line-height: 22px;
    }
    .profile-show-inr {
        padding: 20px 15px;
    }
    .ftr-top-links ul li a u {
        padding-right: 20px;
    }
    .fl-content-sec-4-head {
        padding: 50px 10px 50px 10px;
    }
    .fl-dsc-sec-2-full {
        padding: 20px 15px 5px 15px;
    }
    .fl-dsc-sec-2-tp h3 {
        font-size: 30px;
    }
    .fl-content-sec-2-head-btm,
    .fl-content-sec-2-head-tp {
        padding: 10px 15px 20px;
    }



    
}

@media(max-width: 639px){
   .fl-shipping .two_sec img {
        width: 65px;
        height: 65px
    }
    
    .fl-shipping img {
        width: 50px;
        height: 50px
    } 
    .ln-sec-three-grid > ul {
        padding: 0 50px!important;
    }
    .ln-sec-three-grid > ul > li {
        width: 100%;
    }
    .fl-ftr-nav ul li {
        padding: 0;
        font-size: 19px;
        line-height: 21px;
        display: block;
        padding-bottom: 15px;
    }
    .fl-ftr-nav ul {
        padding-bottom: 15px;
    }
    .fl-ftr-nav ul li:not(:last-child):after{
        content: none;
    }
    .ftr-top-links ul li a{
        display: inline-block;
        vertical-align: baseline;
    }
    .ftr-top-links ul li a u {
        padding-right: 0;
        display: block;
        padding-bottom: 5px;
    }
    .ftr-top-links ul li {
        font-size: 16px;
        line-height: 18px;
    }

}
 
@media(max-width: 575px){
    .health-risks-wrp ul li {
        width: 100%;
    }
    .thank-you-line strong {
        font-size: 20px;
        line-height: 22px;
    }
    .fl-dsc-sec-2-tp h3 {
        font-size: 28px;
    }
    .entry-text {
        width: 400px;
        height: 60px;
    }
    .entry-text h4 {
        font-size: 25px;
    }
    .fl-health-risks-tp-wrp ul li:nth-child(2) .health-risks-box {
        margin-top: 0;
    }
    
}

@media(max-width: 479px){
    h1 {
        font-size: 28px
    }
    h2 {
        font-size: 24px
    }
    h3 {
        font-size: 22px
    }
    .fl-ftr-top-head h3 {
        font-size: 35px;
    }
    .entry-text h4 {
        font-size: 22px;
    }
    .fl-page-bnr-dsc span {
        font-size: 24px;
        padding: 10px 10px;
    }
    .fl-shipping-progress-bar {
        margin-top: -10px
    }
    
    .fl-shipping {
        margin-left: -15px;
        margin-right: -15px;
        padding-bottom: 12px
    }
    
    .fl-shipping h4 {
        font-size: 14px
    }
    
    .fl-shipping:before {
        height: 12px
    }
    
    .fl-shipping-col {
        width: 30%;
        float: left
    }
    
    .fl-shipping-col.two_sec {
        width: 40%;
        float: left
    }
    
    .fl-shipping-col.two_sec span {
        display: block
    }
    .ln-sec-three-grid > ul {
        padding: 0!important;
    }
    .ftr-top-links {
        padding-right: 5px;
    }
    .ftr-top-links ul {
        padding-left: 10px;
    }
    .ftr-top-links ul li {
        font-size: 12px;
        line-height: 14px;
    }
    .fl-dsc-sec-2-tp h3 {
        font-size: 26px;
    }
    .entry-text {
        width: 260px;
        height: 60px;
    }
    .fl-content-sec-4-head-btm-inr {
        padding: 10px 25px 10px 25px;
    }

    
}

@media(max-width: 359px){
    .hdr-logo, .secure-img {
        display: inline-block;
        vertical-align: baseline;
        max-width: 100px;
    }
    .fl-ftr-top-head {
        padding: 15px 5px 14px 15px;
    }
    .fl-ftr-top-head h3 {
        font-size: 32px;
    }
    .ftr-top-links ul li {
        font-size: 10px;
        line-height: 12px;
    }
    .entry-text h4 {
        font-size: 20px;
    }
}


