@font-face {
    font-family: 'CalistoMT';
    src: url('assets/fonts/CalistoMT.woff2') format('woff2'),
        url('assets/fonts/CalistoMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

